@model Note
@{
    string textInfo = "Создание заметки";
}

<form method="post" asp-action="Upsert">
<div class="page">
    <nav class="header">
        <h1 class="name">
            Notes
        </h1>
        <div>

        </div>
    </nav>

    <div class="d-block mb-5">
        @if (Model.Id != 0 && Model.Id != null)
        {
            textInfo = "Изменение заметки";
        }

        <h2 class="title">@textInfo</h2>

        <div class="input-note-grid">
            <div class="w-100 me-3">
                <textarea oninput="auto_grow(this)" maxlength="250" type="text" class="input-note w-100" placeholder="Введите заголовок">@Model.Title</textarea>
                <textarea oninput="auto_grow(this)" maxlength="1000" type="text" class="input-note w-100" placeholder="Введите содержание">@Model.Description</textarea>
            </div>
            <div class="w-auto align-items-center">
                <a asp-action="Grid" class=" d-block upgrade-btn back">
                    Вернуться
                </a>
                <button type="submit" class=" d-block upgrade-btn scs" value="Сохранить"/>
                @if (Model.Id != 0 && Model.Id != null)
                {
                    <a asp-action="" asp-route-id="@Model.Id" class=" d-block upgrade-btn remove">
                        Удалить
                    </a>
                }
            </div>
        </div>


    </div>
</div>
</form>

@section Scripts {
        <script>
            function auto_grow(element) {
                element.style.height = (element.scrollHeight)+"px";
            }
        </script>
}