@model WebNotes.Models.Note

@{
    ViewData["Title"] = "Create";
}

<button class="backButton">
        <a class="text-white" asp-controller="MainMenu" asp-action="Main">Назад</a>
</button>

<form method="post">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <input class="backButton text-white" style="float: right;" type="submit" value="Сохранить" asp-action="Create"/>

    <div>
        <textarea asp-for="Title" class="inputHeader" type="text" id="header" placeholder="Введите заголовок"></textarea>
        <span asp-validation-for="Title" class="danger" style="display:block"></span>
        <span asp-validation-for="Description" class="danger" style="display:block"></span>
        <textarea asp-for="Description" class="inputText" type="text" id="description" placeholder="Введите текст"></textarea>
    </div>

</form>

@section Scripts {
    @{ <partial name ="_ValidationScriptsPArtial"/>}
}
