.header {
    text-align: center;
    font-size: 120px;
    color: white;
    vertical-align:middle;
}

.borderHeader{
    margin:auto;
    text-align:center;
    background-color: orange;
    width:400px;
    height:150px;
    border-radius: 30px;
}

.background{
    background-color:  bisque;
}

.addButton {
    background-color: orange;
    font-weight: bold;
    font-size: 25px;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 8px;
    float: right;
    margin-top: 10px;
}

.addButton:hover {
    background-color: burlywood
}

.borderMainPage {
    width: 70%;
    margin: auto;
    padding: 40px 0px 0px 0px;
}

a {
    text-decoration: none;
    display: block;
}

.blockWithNotes
{
    padding:80px 10px 0px 10px;
    text-align:center;
    min-height: 600px;

}

.notes {
    min-height: 120px;
    width: 518px;
    background-color: orange;
    border-radius: 20px;
    padding: 0px;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-top:auto;
    vertical-align: middle;
}

h2 {
    font-size: 40px;
    color: white;
    word-break: break-word;
    padding: 30px 15px 10px 15px;
    text-align: left;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
    word-break: break-word;
}

label {
    word-break: break-word;
    font-size: 30px;
    color: white;
    padding: 0px 15px 10px 15px;
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
    display: block;
    font-weight: 500;
    line-height: 1em;
}

    label.time {
        font-size: 20px;
        color: white;
        padding: 5px 15px 15px 15px;
        text-align: center;
        display: block;
        margin-left: 10px;
        margin-right: 10px;
        font-weight: bold;
    }

.infoButton {
    background-color: white;
    font-weight: bold;
    font-size: 25px;
    width: 160px;
    height: 50px;
    border: none;
    border-radius: 8px;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

.infoButton:hover {
    background-color: peachpuff;
}

.backButton {
    background-color: orange;
    font-weight: bold;
    font-size: 25px;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 8px;
    float: left;
    margin-top: 10px;
}

    .backButton:hover {
        background-color: burlywood
    }

.inputHeader {
    width: 100%;
    margin-top: 20px;
    min-height: 190px;
    font-size: 40px;
    text-align: left;
    background-color: bisque;
    color: orange;
    font-weight: 500;
    border: 2px solid black;
    border-radius: 1rem;
    word-break: break-word;
    white-space: normal;
    padding: 15px 15px 0px 15px;
    line-height: 1em;
}

.inputText {
    width: 100%;
    margin-top: 20px;
    min-height: 500px;
    height:2400px;
    font-size: 30px;
    text-align: left;
    background-color: bisque;
    color: orange;
    font-weight: 500;
    border: 2px solid black;
    border-radius: 1rem;
    padding: 20px 20px 450px 20px;
    white-space: normal;
    line-height: 30px;
}

textarea {
    outline: none;
    -moz-appearance: none;
    border: 1px solid #999;
    resize: none;
    word-wrap:break-word;
}

.deleteButton {
    background-color: red;
    font-weight: bold;
    font-size: 25px;
    height: 50px;
    border: none;
    border-radius: 8px;
    width: 150px;
    margin-top: 10px;
    color:white;
    float:right;
    margin-right: 10px;
}

    .deleteButton:hover {
        background-color: brown;
    }

.danger {
    color:red;
    font-size: 30px;
    font-weight:bold;
}