
@{
    ViewData["Title"] = "Notes";
}

<div class="ms-auto me-auto w-50" style="margin-top: 15%">
    <a class="btn btn-success w-100 m-1 p-3" asp-action="">Войти</a>
    <a class="btn btn-outline-success m-1 p-3 w-100" asp-action="">Зарегистрироваться</a>
</div>

