<div class="page h-100">

    <h1 class="logo">Notes</h1>

    <div class="button-block">
        <a class="m-3 p-3 button" asp-action="Login">Войти</a>
        <a class="m-3 p-3 button" asp-action="Register">Зарегистрироваться</a>
    </div>
</div>

